/*reset CSS */
.container-fluid,
.container,
.row,
.col,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */
:root {
  --fontColor: white;
}

.navbar-brand {
  color: var(--fontColor);
}

.nav-link {
  color: var(--fontColor);
}